<ion-content [fullscreen]="true">
    <div class="view" slot="fixed" [ngClass]="mode">
        <div class="debug" *ngIf="debug">
            <div>orientation: {{orientation}}</div>
            <!--<div>alpha: {{alpha}}</div>-->
            <div>beta: {{beta}}</div>
            <div>gamma: {{gamma}}</div>
            <div>x: {{target.x}}</div>
            <div>y: {{target.y}}</div>
        </div>
        <ion-segment mode="ios" [(ngModel)]="mode">
            <ion-segment-button layout="icon-start" value="sportsman">
                <ion-icon name="tree-sportsman"></ion-icon>
                <ion-label>Sportsman</ion-label>
            </ion-segment-button>
            <ion-segment-button layout="icon-start" value="pro">
                <ion-icon name="tree-pro"></ion-icon>
                <ion-label>Pro</ion-label>
            </ion-segment-button>
        </ion-segment>
        <div class="timer">{{timer}}</div>
        <div class="result" [innerHTML]="result"></div>
        <!--[class.sportsman]="mode == 'sportsman'" [class.pro]="mode == 'pro'"-->
        <div class="lights" [ngClass]="status" [ngStyle]="{ 'transform': transform }">
            <div class="light light1 blue left"></div>
            <div class="light light1 blue right"></div>
            <div class="light light2 amber left" [ngClass]="amber1"></div>
            <div class="light light2 amber right" [ngClass]="amber1"></div>
            <div class="light light3 amber left" [ngClass]="amber2"></div>
            <div class="light light3 amber right" [ngClass]="amber2"></div>
            <div class="light light4 amber left" [ngClass]="amber3"></div>
            <div class="light light4 amber right" [ngClass]="amber3"></div>
            <div class="light light5 green left"></div>
            <div class="light light5 green right"></div>
            <div class="light light6 red left"></div>
            <div class="light light6 red right"></div>
        </div>
        <div class="rollout">
            <small class="tip-start">DEEP</small>
            <small class="tip-end">SHALLOW</small>
            <ion-range min="15" max="35" pin="false" step="1" [(ngModel)]="rollout">
                <ion-icon name="remove" slot="start"></ion-icon>
                <ion-icon name="add" slot="end"></ion-icon>
            </ion-range>
            <div class="label">Rollout <span>{{(rollout/100).toFixed(2)}}s</span></div>
        </div>
        <button class="pedal" [ngClass]="{ 'down': down }" (touchstart)="start($event)" (touchend)="end($event)" (mousedown)="start($event)" (mouseup)="end($event)"></button>
        <footer [innerHTML]="message"></footer>
    </div>
</ion-content>
